<!-- TODO: display all the movie titles-->
<div *ngFor="let movie of movieList">
	  <h3>{{movie.name}}</h3>
</div>
<!-- TODO: display all the actors of the first movie -->
<div *ngFor="let actor of movie1.actors">
	<div>{{actor.firstName}} {{actor.lastName}}</div>
</div>

<div *ngFor="let movie of movieList">
	<app-movie-card (click)="openDetails(movie)" [movie]="movie"> </app-movie-card>
</div>

<div *ngIf="displayDetails">
	<!-- Here you should bind to the input and output -->
	<app-movie-details [movie]="selectedMovie" (close)="displayDetails = false"></app-movie-details>
</div>
